# OSX
#
.DS_Store
*
!/.gitignore
!*/
!*.md
!*.js
babel.config.js
metro.config.js
.prettierrc.js
.eslintrc.js
ios
android
node_modules
!housings.json
!package.json
!star*.png
!*.png
__tests__
_ReactBnb